aside {
  width: 200px;
}

section {
  width: 500px;

}

section, aside {
  display: inline-block;
  vertical-align: top;
}
/*.repo, .contribs {
  display: inline-block;
}*/

/*.repo {
  display: none;
}*/
 img {
   width: 100px;
 }

.popRepo {
  width: 200px;
  height: 200px;
  font-size: 15px;
}
